<mat-card>
    <mat-card-title> Novo Carro </mat-card-title>
    <mat-card-content>  
        <div class="carro">
          <mat-card>
            <mat-card-content>
              <div class="conteudo-carro">
                <div class="conteudo-carro">                  
                <mat-form-field>
                  <mat-label for="modelo">Modelo do Carro</mat-label>
                  <input matInput placeholder="Modelo" type="text" name="modelo" [(ngModel)]="modelo" />
                </mat-form-field>
              </div>
                <div class="conteudo-carro">
                <mat-form-field>
                  <mat-label for="placa">placa do Carro</mat-label>
                  <input matInput placeholder="Placa" type="text" name="placa" [(ngModel)]="placa" />
                </mat-form-field>
              </div>
                <div class="conteudo-carro">
                <mat-form-field>
                  <mat-label for="ano">Ano do Carro</mat-label>
                  <input matInput  type="number" name="ano" [(ngModel)]="ano" />
                </mat-form-field>    
              </div>            
              </div>              
            </mat-card-content>
          </mat-card>
        </div>       
      
  
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="cadastrar()">Cadastrar</button>
        <a mat-stroked-button routerLink=""> Listar Carros </a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  
